################################################################################
# This .gitignore file was automatically created by Microsoft(R) Visual Studio.
################################################################################

/.vs/embmeals.github.io/FileContentIndex/65776057-2119-483e-8f39-64bc5aaea00d.vsidx
/.gitignore
